<!-- landing.jsファイルを読み込み -->
<%= stylesheet_link_tag "landing.js" %>

<div class="img-responsive top-image jumbotron">
  <h1 style="color: white; font-family: 'Helvetica Neue'; font-weight: 100; letter-spacing: 0.5px; font-size: 600%;">
    Lavz
  </h1>
  <h2 style="color: white; font-family: 'Helvetica Neue'; font-weight: 100; letter-spacing: 0.5px; font-size: 250%;">
    Share and Manage Protocols<br>in Biological Experiments
  </h2>
</div>
<div class="container">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<!-- landing.jsファイルを読み込み -->
<%= stylesheet_link_tag "landing.js" %>
