<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <a id="following" class="stat">
      <%= @user.following.count %>
      following
    </a>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <a id="followers" class="stat">
      <%= @user.followers.count %>
      followers
    </a>
  </a>
</div>
